/*** Start About Section ***/


.form-container{
    width:48%;
    float:left;
    padding:1% 1% 0 1%;
    color:purple;
}

.map-container{
    width:50%;
    margin:0 auto;
    background-color:black;
    height:900px;
    float:right;
}


.contact-section{
    background-color: #2A9CFF;
    height:900px;
}

.contact-container:after{
    content:"";
    display:block;
    clear:both;
}

.contact-container{
    background-color: purple;
    padding:0;
}

.contact-column{
    width:49.9%;
    float:left;
    text-align: center;
    height:150px;
    background-color:#0367A6;
    font-size: 30px;
    padding-top:3.25%;
    color:white;
    font-family: sans-serif;
}

.telephone{
    border-right: solid white 1px;
}

/*** End About Section ***/

